src/__pycache__/analex.cpython-38.pyc
src/__pycache__/pseudoCLI.cpython-38.pyc
Docs/.ipynb_checkpoints/Analex-checkpoint.ipynb
Docs/.ipynb_checkpoints/MiCLI test-checkpoint.ipynb
Docs/.ipynb_checkpoints/psudoCLI-checkpoint.ipynb
